<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SESSION PRODUCTOS</title>

    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="../../assets/vendors/simple-line-icons/css/simple-line-icons.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/vendors/flag-icon-css/css/flag-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/vendors/css/vendor.bundle.base.css"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link
      rel="stylesheet"
      href="../../assets/vendors/font-awesome/css/font-awesome.min.css"
    />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link
      rel="stylesheet"
      href="../../assets/css/vertical-light-layout/style.css"
    />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../../assets/images/favicon.png" />

    <style>
      /* Centrado del contenedor .container-productos */
      .container-productos {
        padding: 40px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        width: 990px;
        gap: 25px;

        position: absolute;
        top: 50%; /* Centrado vertical */
        left: 50%; /* Centrado horizontal */
        transform: translate(-50%, -50%); /* Ajuste perfecto para centrar */
      }

      .form-group {
        display: flex;
        flex-direction: column;
        width: 70%;
      }

      input,
      select,
      textarea {
        width: 100%;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 30px;
        font-size: 16px;
        box-sizing: border-box;
      }

      .row {
        display: flex;
        gap: 20px;
      }

      .row input {
        flex: 1;
      }

      .image-upload {
        width: 250px;
        height: 180px;
        border: 2px dashed #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-align: center;
        color: #666;
        background-color: #f5f5f5;
        font-size: 16px;
        margin-bottom: 15px;
      }

      /* Contenedor de los botones */
      .btn-container {
        display: flex;
        justify-content: center; /* Centra los botones horizontalmente */
        position: absolute; /* Asegura que los botones se ubiquen en la parte inferior */
        bottom: 20px; /* Distancia desde la parte inferior */
        width: 100%; /* Abarca todo el ancho de la página */
        gap: 20px; /* Espacio de 20px entre los botones */
      }

      .btn-finalizar,
      .btn-secondary .btn-success {
        background: green;
        color: white;
        padding: 12px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        width: 200px;
      }

      .btn-secondary {
        background-color: #ccc;
        color: black;
      }
    </style>
  </head>
  <body>
    <!-- VENTAS -->
    <div class="container-scroller">
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="../../index.html">
            <img src="../../../images/473424986_122094668432737167_5148454371714842654_n.jpg" alt="logo"
              class="logo-dark" />
            <img src="../../../images/473424986_122094668432737167_5148454371714842654_n.jpg" alt="logo-light"
              class="logo-light" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="../../index.html"><img
              src="../../../images/473424986_122094668432737167_5148454371714842654_n.jpg" alt="logo" /></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <h2 class="mb-0 font-weight-medium d-none d-lg-flex">
            Editar datos de Producto
          </h2>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator message-dropdown" id="messageDropdown" href="#" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="icon-speech"></i>
                <span class="count">2</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
                aria-labelledby="messageDropdown">
                <a class="dropdown-item py-3">
                  <p class="mb-0 font-weight-medium float-start me-2">
                    Tienes 2 Recordatorios
                  </p>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-item-content flex-grow py-2">
                    <p class="preview-subject ellipsis font-weight-medium text-dark">
                      Jose Hernandez
                    </p>
                    <p class="font-weight-light small-text">
                      Cambio de Frenos
                    </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-item-content flex-grow py-2">
                    <p class="preview-subject ellipsis font-weight-medium text-dark">
                      Hernan Atuncar
                    </p>
                    <p class="font-weight-light small-text">
                      Cambio de aceite
                    </p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown">
              <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img class="img-xs rounded-circle ms-2" src="../../../images/473424986_122094668432737167_5148454371714842654_n.jpg" alt="Profile image" />
                <span class="font-weight-normal"> Elena </span></a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <div class="dropdown-header text-center">
                  <img class="img-md rounded-circle" src="../../../images/473424986_122094668432737167_5148454371714842654_n.jpg" alt="Profile image" />
                  <p class="mb-1 mt-3">Elena</p>
                  <p class="font-weight-light text-muted mb-0">
                    fix360@gmail.com
                  </p>
                </div>
                <a class="dropdown-item"><i class="dropdown-item-icon icon-user text-primary"></i> My
                  Profile
                  <span class="badge badge-pill badge-danger">1</span></a>
                <a class="dropdown-item"><i class="dropdown-item-icon icon-speech text-primary"></i>
                  Messages</a>
                <a class="dropdown-item"><i class="dropdown-item-icon icon-energy text-primary"></i>
                  Activity</a>
                <a class="dropdown-item"><i class="dropdown-item-icon icon-question text-primary"></i>
                  FAQ</a>
                <a class="dropdown-item"><i class="dropdown-item-icon icon-power text-primary"></i>Sign Out</a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="icon-menu"></span>
          </button>
        </div>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item navbar-brand-mini-wrapper">
              <a class="nav-link navbar-brand brand-logo-mini" href="../movdiario/listar-movdiario.html"><img
                  style="width: 50px;" src="../../../images/473424986_122094668432737167_5148454371714842654_n.jpg" alt="logo" /></a>
            </li>
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="profile-image">
                  <img class="img-xs rounded-circle" src="../../../images/473424986_122094668432737167_5148454371714842654_n.jpg" alt="profile image" />
                  <div class="dot-indicator bg-success"></div>
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">Elena</p>
                  <p class="designation">Administrador</p>
                </div>
              </a>
            </li>
            <li class="nav-item nav-category">
              <span class="nav-link">Inicio</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../movdiario/listar-movdiario.html">
                <span class="menu-title">Movimiento Diario </span>
                <i class="fa-solid fa-chart-line menu-icon"></i>
              </a>
            </li>
            <li class="nav-item nav-category">
              <span class="nav-link">Inventario</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../ventas/listar-ventas.html">
                <span class="menu-title">Ventas</span>
                <i class="fa-solid fa-tags menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <!--<a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                    <span class="menu-title">Icons</span>
                    <i class="icon-globe menu-icon"></i>
                </a>-->
              <!--<div class="collapse" id="icons">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      href="../../pages/icons/font-awesome.html"
                      >Font Awesome</a
                    >
                  </li>
                </ul>
              </div>-->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../compras/listar-compras.html">
                <span class="menu-title">Compras</span>
                <i class="fa-solid fa-cart-plus menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../productos/listar-producto.html">
                <span class="menu-title">Productos</span>
                <i class="fa-solid fa-store menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../kardex/listar-kardex.html">
                <span class="menu-title">Kardex</span>
                <i class="fa-solid fa-arrows-turn-to-dots menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../cotizaciones/listar-cotizacion.html">
                <span class="menu-title">Cotizaciones</span>
                <i class="fa-solid fa-list-ol menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../ordenservicios/listar-ordenes.html">
                <span class="menu-title">Ordenes de Servicio</span>
                <i class="fa-solid fa-car-tunnel menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../promociones/listar-promociones.html">
                <span class="menu-title">Promociones</span>
                <i class="fa-solid fa-percent menu-icon"></i>
              </a>
            </li>
            <li class="nav-item nav-category">
              <span class="nav-link">Administracion</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../clientes/listar-cliente.html">
                <span class="menu-title">Clientes</span>
                <i class="fa-solid fa-building-user menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../vehiculos/listar-vehiculos.html">
                <span class="menu-title">Vehiculos</span>
                <i class="fa-solid fa-car-side menu-icon"></i>
              </a>
            </li>
            <li class="nav-item nav-category">
              <span class="nav-link">Contactabilidad</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../contactabilidad/listar-graficos.html">
                <span class="menu-title">Graficos</span>
                <i class="fa-solid fa-chart-pie menu-icon"></i>
              </a>
            </li>
          </ul>
        </nav>
        <div>
          <div class="container-productos">
            <div class="form-group">
              <select>
                <option>Marca</option>
              </select>
              <input type="text" placeholder="SUBCATEGORIA" />
              <div class="row">
                <input type="text" placeholder="PRECIO" />
                <input type="text" placeholder="CANTIDAD" />
                <input type="text" placeholder="MEDIDA" />
              </div>
              <input type="text" placeholder="PRESENTACION" />
              <textarea placeholder="DESCRIPCION" rows="4"></textarea>
            </div>
            <div
              class="image-upload"
              onclick="document.getElementById('imageInput').click();"
            >
              <img id="previewImage" src="" alt="Imagen" width="80" /><br />
              <input
                type="file"
                id="imageInput"
                style="display: none"
                accept="image/*"
                onchange="previewImage(event)"
              />
            </div>
          </div>

          <!-- Botones centrados -->
          <div class="btn-container">
            <button
              type="button"
              onclick="window.location.href='listar-Producto.html'"
              class="btn btn-success"
            >
              Finalizar
            </button>
            <button
              type="button"
              onclick="window.location.href='listar-Producto.html'"
              class="btn btn-secondary"
            >
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--FIN VENTAS-->

    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="../../assets/js/settings.js"></script>
    <script src="../../assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  </body>
</html>
